table{
    margin-top: 50px;
}
tr{
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid grey;
}
td{
    font-family: 'Consolas';
    /* position: relative; */
    vertical-align: middle;
    padding: 10px 20px;
    min-width: 200px;
    word-spacing: 0.1em;
	line-height: 1.5em;
	text-align: justify;
}

.td_name{
    word-wrap: break-word;
    /* display: block; */
    /* color: grey; */
}

button{
    border: 1px solid grey;
    padding: 5px 20px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    font-size: 18px
}

button:hover{
    color: orange;
}

button:active{
    color: rgb(155, 78, 15);
    border-color: rgb(155, 78, 15);
}

.completed{
    text-decoration: line-through;
}

.kali{
    color: red;
    font-weight: bold;
}