<button (click)='onCreate()'>Create</button>
<table>
	<tr *ngFor = 'let todo of todos'>
		<td>
			<button (click)='onEdit(todo)'>edit</button>
			<button (click)='onDelete(todo.id)'>delete</button>
		</td>
		<td [class.completed]='todo.completed' class="td_name">
			<span class="kali">
				root@kali:~#
			</span>
			{{ todo.name }} 
		</td>

	</tr>
</table>
