<div class='app-wrapper'>
	<div class='hf_shell-title'>TODO</div>

	<nav>
		<a routerLink='list'	 routerLinkActive='selected' >List</a>
		<a routerLink='settings' routerLinkActive='selected' >Settings</a>
	</nav>

	<router-outlet></router-outlet>
</div>
