.app-wrapper{
	width: 960px;
	margin: 10px auto;
	overflow: hidden;
}

.hf_shell-title{
	min-width: 100%;
	
}

nav{
	margin: 20px 0;
	border-bottom: 1px solid darkorange;
	height: 30px;
	font-size: 0;
	overflow: hidden;
}

nav a{
	display: inline-block;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	cursor: default;
}

nav a:hover{
	text-shadow: 0 0 10px orangered;
	color: orangered;
}

a.selected{
	border-top: 1px solid darkorange;
	color: darkorange;
}