<div *ngIf='todo'> 
	<a routerLink='list'>Apply</a>
	
	<div class='edit_label'>
		<label for="completedd">Completed: </label>
		<input type="checkbox" id="completedd" [(ngModel)] = 'todo.completed'>
	</div>
	<div>
		<label for="name">Name: </label>	<br>
		<textarea id="name" [(ngModel)] = 'todo.name'></textarea>
	</div>
</div>