.edit_label{
	margin-bottom: 10px;
}
input{
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 16px;
}

#name{
	/* 	 */
}

textarea{
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	padding: 10px;
	height: 200px;
	resize: vertical;
	width: 100%;
	margin-top: 10px;
}

a{
	display: inline-block;
    border: 1px solid grey;
    padding: 5px 20px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
	font-size: 18px;
	text-decoration: none;
	margin-bottom: 10px;
	cursor: default;
}

a:hover{
    color: orange;
}

a:active{
    color: rgb(155, 78, 15);
    border-color: rgb(155, 78, 15);
}